.container {
  padding: 50px 40px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 50px;
  margin-top: 13px;
  margin-bottom: 0;
}

.date {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

.content {
  display: flex;
  gap: 80px;
  margin-top: 55px;
}

.leftSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 10px;
  width: 700px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.airQuality {
  font-weight: 600;
  font-size: 34px;
  margin: 0;
}

.status {
  color: #ff1f1f;
}

h3 {
  font-weight: 400;
  font-size: 18px;
}

.iaq {
  font-size: 14px;
  font-weight: 700;
}

.pollutionChange {
  display: flex;
  font-size: 16px;
  font-weight: 350;
  margin-top: 25px;
}

.recommendations {
  margin-top: 25px;
}

.recommendationList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recommendationList li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
}

.recommendationList li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #21c512;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #22c55e;
}

.recommendationItem {
  font-weight: 600;
  font-size: 14px;
}

.recommendationIcon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.viewMoreLink {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
  margin-top: 25px;
}

.viewMoreLink:hover {
  color: #0056b3;
}

.rightSection {
  flex: 1;
}

.feelsLike {
  /* border: 1px solid black; */
  padding: 10px;
  display: block;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.humidity {
  /* border: 1px solid black; */
  padding: 10px;
  display: block;
  border-radius: 10px;
  margin-top: 20px;
  width: 400px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin: 0;
}

.contentImg {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.humidityImg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

h5 {
  font-weight: 500;
  font-size: 10px;
  margin: 0;
  margin-left: 30px;
}

.value {
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 15px;
  justify-content: center;
}

.valueImg {
  width: 64px;
  height: 64px;
}

.footer {
  margin-top: 60px;
}

.footer h1 {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.iaqIndicator {
  border: 1px solid black;
  display: flex;
  padding: 30px 5px;
  justify-content: space-around;
  margin-top: 150px;
}

.iaqDetails {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iaqValue {
  font-size: 30px;
  font-weight: 700;
}

.iaqCondition {
  font-size: 20px;
  font-weight: 600;
  color: #f56e22;
}

.iaqRecommend {
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  margin-top: 30px;
  color: #555;
}

.measuresButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  margin-top: 50px;
}

.pollutants_concentration_h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 50px;
  margin-top: 30px;
}

.measuresButton:hover {
  background-color: #0056b3;
}

.sensorLocation {
  text-align: center;
  margin-top: 80px; /* Increase this value from 50px to 80px */
}

.sensorLocation h2 {
  text-align: left;
}

.sensorLocation iframe {
  display: block;
  margin: 50px auto 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.highlight {
  color: #093fb4;
}

.pollutantSection {
  max-width: 1200px;
  margin: 0px auto;
  margin-top: 80px;
}

.sectionTitle {
  font-size: 28px;
  font-weight: 600;
  /* margin: 0 0 0 30px; */
}

/* .sectionSubtitle {
  margin: 0 0 0 30px;
} */

.indicatorTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0;
}

.pollutantGrid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pollutantCard {
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px 16px 32px 16px;
  background-color: #fff;
  min-width: 240px;
}

.pollutantHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.pollutantName {
  font-weight: 600;
}

.smokeIcon {
  margin-right: 8px;
}

.statusBadge {
  background-color: #71e196;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 12px;
  font-style: italic;
}

.currentLabel {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 8px;
}

.pollutantSub {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 8px;
}
.pollutantValue {
  font-size: 24px;
  font-weight: 500;
  margin-top: 12px;
  text-align: center;
}

.weatherSection {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

.weatherGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.weatherCard {
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
}

.weatherHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.weatherIcon {
  margin-right: 8px;
  font-size: 20px;
}

.weatherName {
  font-weight: 600;
  font-size: 18px;
}

.weatherSub {
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 8px;
  text-align: center;
}

.weatherValue {
  font-size: 24px;
  font-weight: 500;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extraIcon {
  margin-right: 8px;
  font-size: 20px;
}
