/* src/components/HomeContent/HomeContent.module.css */

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 60px;
  min-height: 550px;
  background-color: #ffffff;
  box-sizing: border-box;
}

/* ✅ Left Box: Just slogan (no border or background) */
.leftBox {
  flex: 1;
  padding-right: 40px;
}

/* Slogan Text Styling */
.heading1 {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 8px;
}

.heading2 {
  font-size: 50px;
  font-weight: bold;
  color: #0c0c0c;
  margin-bottom: 0;
  margin-top: 0;
}

.blueText {
  color: #093fb4;
}

.heading3 {
  font-size: 90px;
  font-weight: bold;
  color: #5eaf67;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

.heading4 {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  margin-top: 0;
}

.subtext {
  font-size: 15px;
  color: #555;
  margin-top: 24px;
}

/* ✅ Right Box: AQI data with border & radius */
.rightBox {
  flex: 1;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 260px;
}

.right_IQA_Box {
  flex: 1;
  padding-left: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 120px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.Termerature_Humidity_Box {
  flex: 1;
  display: flex;
  border-radius: 10px;
  background-color: #ffffff;
  gap: 10px;
}

.Temperature_logo_text {
  display: flex;
  align-items: center;
  height: 46px;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 4px 10px rgba(18, 17, 17, 0.2);
  padding-left: 7px;
}

.temperatureIcon {
  width: 28px;
  height: 27px;
}

.Humidity_logo_text {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(18, 17, 17, 0.2);
  height: 46px;
  width: 50%;
  border-radius: 10px;
  padding-left: 13px;
}

.HumidityIcon {
  width: 20px;
  height: 21px;
  margin-right: 10px;
}

/*Text styles for Temperature and Humidity*/
h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: #1f1e1e;
}

.aqiValue {
  font-size: 22px;
  /* color: #047804; */
}


.temperatureValue{
  font-size: 18px;

}

.status {
  font-size: 16px;
  margin-top: 17px;
  color: #000000;
}


.good{
  color:#047804;
  font-size: 18px;
  margin-top: 17px;
}

.moderate{
  color: rgba(223, 207, 34, 0.997);
  font-size: 18px;
  margin-top: 17px;
}


.undealthySensitive{
  color: rgb(253, 130, 53);
  font-size: 18px;
  margin-top: 17px;

}

.unhealthy{
  color:rgb(245, 68, 68);
  font-size: 18px;
  margin-top: 17px;
}

.veryUnhealthy{
  color: rgb(255, 0, 0);
  font-size: 18px;
  margin-top: 17px;
}

.hazardous{
  color: rgb(183, 3, 3);
  font-size: 18px;
  margin-top: 17px;
}

.Location_Box {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(18, 17, 17, 0.2);
  height: 45px;
  border-radius: 10px;
  padding-left: 12px;
  justify-content: space-between;
}

.ViewDashboard {
  margin-right: 20px;
  font-size: 13px;
  text-decoration: none;
  font-weight: 600;
}

.Link {
  color: #5aa2ee;
  font-weight: 100;
}

.Link:hover {
  color: #1659e8;
}

.temperatureValue,
.humidityValue {
  margin-left: 8px;
}

.locationIcon_text {
  display: flex;
  align-items: center;
  height: fit-content;
}

.locationIcon {
  width: 17px;
  height: 19px;
  margin-right: 6px;
}

.checkAirQualityBtn {
  color: rgb(255, 255, 255);
  background-color: #093fb4;
  border: 1px solid #093fb4;
  border-radius: 6px;
  height: 38px;
  width: 140px;
}

.checkAirQualityBtn:hover {
  background-color: #ffffff;
  color: #093fb4;
  border: 1px solid #093fb4;
  cursor: pointer;
}

/* About Section */

.AboutContainer {
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid #ddd; */
  margin-top: 60px;
  background-color: #f4f4f4;
  margin-bottom: 90px;
  padding: 50px 0;
  height: 360px;
  justify-content: center;
  align-items: center;
}

.about_container {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
  height: 100%;
}

.about_heading {
  font-size: 60px;
  margin-bottom: 20px;
  color: #2c3e50;
  text-align: center;
}

.about_text {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .about_container {
    padding: 15px;
  }

  .about_heading {
    font-size: 22px;
  }

  .about_text {
    font-size: 14px;
  }
}

/* Our Solution Section */

.ourSolutionMainContainer {
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid #ddd; */
  margin-top: 30px;
  background-color: #ffffff;
  margin-bottom: 150px;
}

.solutions_container {
  max-width: 1000px;
  margin: 60px auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.solutions_heading {
  font-size: 60px;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

.cards_wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.solution_card {
  flex: 1 1 250px;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  transition: transform 0.2s;
}

.solution_card:hover {
  transform: translateY(-4px);
}

.solution_card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #34495e;
}

.solution_card p {
  font-size: 14px;
  color: #666565;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .cards_wrapper {
    flex-direction: column;
    gap: 16px;
  }
}

/*Footer Section*/

.footer {
  background-color: #ffffff;
  color: white;
  /* padding: 40px 20px; */
  text-align: center;
  border-radius: 12px 12px 0 0;
  height: fit-content;
}

.upperFooter {
  background-color: #093fb4;
  color: white;
  padding: 70px 20px;
  text-align: center;
  height: fit-content;
}

.footer_heading {
  font-size: 45px;
  margin-bottom: 50px;
  font-weight: 600;
}

.footer_buttons {
  display: flex;
  justify-content: center;
  gap: 22px;
  flex-wrap: wrap;
}

.footer_btn {
  background-color: #ffffff;
  color: #2576e7;
  padding: 9px 15px;
  font-size: 16px;
  height: 38px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.footer_btn:hover {
  background-color: #2576e7;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.lowerFooter {
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 40px 20px;
  text-align: center;
  height: fit-content;
  margin-top: 10px;
}

.footerIndoorAir {
  width: 300px;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 60px;
}

.IndoorAirBox_logo {
  display: flex;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
  width: fit-content;

  gap: 0;
}

.siteIcon {
  width: 78px;
  height: 42px;
}

.siteIcon:hover {
  cursor: pointer;
}

.footerIndoorAirHeading {
  font-size: 30px;
  font-weight: 800;
}

.footerIndoorAirHeading:hover {
  cursor: pointer;
}

.span {
  color: #2576e7;
  font-weight: 800;
}

.footerSlogan {
  font-size: 14px;
  margin: 0;
}

.footerLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.AllRights {
  font-size: 13px;
  color: #666565;
}

.footerLinkLists {
  display: flex;
  gap: 30px;
}

.footerLinkLists li {
  text-decoration: none;
  color: white;
}

.footerLink {
  color: #666565;
  text-decoration: none;
  font-size: 13px;
}

.footerLink:hover {
  color: blue;
}
