.indoor-air-container {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
}

.indoor-air-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 16px 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.indoor-air-logo {
  font-size: 20px;
  font-weight: bold;
}

.indoor-air-nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.indoor-air-nav a:hover {
  color: #007BFF;
}

.indoor-air-hero {
  text-align: center;
  margin-top: 48px;
}

.indoor-air-title {
  font-size: 3.65rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.indoor-air-vision-box {
  width: 57%;
  margin: 24px auto;
  
  padding: 16px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  border-radius: 8px;
  text-align: left;
  margin-bottom: 115px;
}



.indoor-air-vision-title {
  font-weight: 400;
  font-size: 20px;
  font-weight: bold;
  
}

.indoor-air-vision-text {
  margin-top: 4px;
  font-size: 14px;
}

.indoor-air-about {
  text-align: center;
  padding: 40px 32px;
  
}

.indoor-air-about-heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.indoor-air-highlight {
  color: #007BFF;
}

.indoor-air-about-text {
 
  max-width: 800px;
  margin: 12px auto;
  text-align: justify;
  line-height: 1.6;
}

.indoor-air-team-member_box{
  align-items: center;
  width: 275px;
  height: 297px;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0 ,  0 , 0 , 0.05);
  border: 0.5px solid #ddd;
  border-radius: 6px;
}

.indoor-air-team {
  text-align: center;
  margin-top: 48px;
  margin-top: 115px;
}

.indoor-air-team-heading {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 49px;
}

.indoor-air-team-list {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
  margin-bottom: 170px;
}

.team_photo { 
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  display: block; /* optional: remove inline spacing if inside flex */
}


h4{
  font-size:18px;
  font-family: sans-serif;
}

.indoor-air-team-member {
  width: 138px;
  height: 138px;
  background: #ddd;
  border-radius: 50%;
  margin-left: 24%;
  margin-top: 40px;
  margin-bottom: 24px;
  overflow: hidden;

}

.indoor-air-footer {
  text-align: center;
  padding: 24px;
  font-size: 12px;
  color: #777;
}
